<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CS2019!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="icon" type="ico" href="favicon.ico"/>
  </head>
  <body>
    <section class="hero is-warning is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-one-quarter">
              <img
                src="logo.png"
                alt="Logo"
              />
              <p class="subtitle">chill lah.</p>
            </div>
          </div>

          <div class="columns" id="cards">
            <div class="column" v-for="card in cards">
              <div class="card" v-on:click="goTo(card)">
                <div class="card-content">
                  <p class="title">{{ card.title }}</p>
                  <p class="subtitle">{{ card.subtitle }}</p>
                  <p class="url" v-if="card.seen">{{card.url}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="columns is-centered "id="misc">
            <div class="column" v-for="tab in tabs">
              <div class="card" v-on:click="expand(tab)">
                <div class="card-content">
                  <p class="title">{{ tab.title }}</p>
                  <div class="columns is-centered has-text-left" v-if="tab.seen == 1">
                    <div class="column m-2">           
                      <div class="subtitle has-text-centered has-text-weight-semibold">{{tab.tldr}}</div>
                      <hr>          
                      <ol>
                        <li v-for="point in tab.points" class="content"> {{point.title}} 
                          <ul>
                            <p v-for="line in point.content"> {{line}}</p>
                          </ul>
                        </li>
                      </ol> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="content has-text-centered">
          <p>
            <strong>FreeDNS</strong> by <a href="https://freedns.afraid.org/">Josh</a>. The source code is licensed
            <a href="https://opensource.org/licenses/gpl-2.0.php">GPL-2.0</a>.
          </p>
        </div>
      </div>
    </section>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="index.js"></script>
    <script src="click.js"></script>
  </body>
</html>
